menu "OXOcard LIB configuration"

config OTA_HOSTNAME
	string "OTA hostname"
	default "build.oxocard.ch"
	help
		The hostname of the backend to use.

config OTA_PATH_PREFIX
	string "OTA path prefix"
	default "/v1/oxocard2"
	help
		The path prefix to use.

config OTA_PORT
	int "OTA port"
	default 443
	help
		Port to use. SSL defaults to 443.

endmenu
